.create-button {
    width: auto; /* Permite que el botón ajuste su ancho automáticamente */
    padding: 10px 20px; /* Ajusta el relleno según sea necesario */
    margin: 0 auto; /* Centra el botón si es necesario */
    display: inline-block; /* Cambia a inline-block para que no ocupe todo el ancho */

}
